 
    body {
      background: linear-gradient(to right, #01611e, #389904);
      font-family: 'Poppins', sans-serif;
    }

    .section-title {
      font-weight: bold;
      text-align: center;
      margin-bottom: 40px;
      color: #fff;
    }

    .mission-card {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(15px);
      border-radius: 15px;
      padding: 20px;
      color: white;
      transition: 0.3s;
      height: 100%;
      border: 1px solid rgba(255,255,255,0.2);
    }

    .mission-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    }

    .icon {
      font-size: 30px;
      margin-bottom: 15px;
    }
 